@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* --- базовые настройки --- */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.page-wrapper {
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.12);
}


/* Главная страница */


/* header */

.page-header {
  display: flex;
  padding-left: 70px;
  padding-right: 70px;
  box-sizing: border-box;
}

.navigation {
  display: flex;
  flex-grow: 1;
}

.logo {
  display: block;
  margin-bottom: -10px;
}

.logo:hover,
.logo:focus {
  opacity: 0.5;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.navigation-main {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 5px;
  margin-left: 32px;
}

.navigation-user {
  display: flex;
  flex-wrap: nowrap;
  margin-left: auto;
  flex-shrink: 0;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover  {
  color: rgba(0, 0, 0, 0.5);
}

.navigation-link:focus {
  color: rgba(0, 0, 0, 0.5);
}


.navigation-link-active::after {
  content: "";
  position: absolute;
  width: calc(100% - 24px) ;
  height: 2px;
  background-color: rgba(117, 98, 87, 1);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.navigation-icon {
  fill: #000000;
}

.navigation-icon:hover {
  fill: rgba(0, 0, 0, 0.5);
}


.icon-button-search {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
}

.icon-button-favor {
  position: relative;
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding-left: 12px;
  padding-right: 12px;
  background-size: 20px 20px;
}

.icon-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -10px;
  right: 3px;
  font-size: 11px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-decoration: none;
  align-items: center;
}

.navigation-button {
  display: block;
  padding: 8px 34px;
  margin-left: 20px;
  background-color: #756157;
  border-radius: 4px;
}

.navigation-button:hover,
.navigation-button:focus {
  background: rgba(117, 97, 87, 0.5);
}

.navigation-button:active {
  background: rgba(117, 97, 87, 0.1);
}

/* main */

.main-container {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.hero {
  background-color: #44777d;
  background: url("../images/hero/divider.svg"), url("../images/hero/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

.hero-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
  text-transform: uppercase;
  max-width: 700px;
}

.hero-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 90px;
  text-align: center;
}

/* преимущества  */

.advantages {
  padding-top: 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-title {
  position: relative;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  min-width: 175px;
  margin: 0;
  margin-bottom: 61px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -32px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-text {
  min-width: 230px;
  margin: 0;
  text-align: center;
}

.advantages-item-picture {
  display: flex;
  align-items: center;
}

.advantages-item-picture .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}


.advantages-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px 80px;
}

.advantages-dark {
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-light {
  width: 400px;
  color: #333333;
  background-color: #83b3d31f;
  padding: 113px 86px;
}

.advantages-average {
  width: 400px;
  color: #333333;
  background-color: #83b3d333;
  padding: 113px 86px;
}


/* приглашение  */

.invitation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  margin-bottom: 64px;
}

.invitation-title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.invitation-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  text-align: center;
}

/* особенности  */

.features-list {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.features-average {
  background-color: #83b3d31f;
}

.features-light {
  background-color: #ffffff;
}

.features-house {
  background-size: 75px 72px;
  background-image: url("../images/main/house.svg");
  background-repeat: no-repeat;
  background-position: 164px 81px;
  max-width: 400px;
  padding: 81px 85px;
  flex-grow: 1;
}

.features-food {
  background-size: 75px 72px;
  background-image: url("../images/main/food.svg");
  background-repeat: no-repeat;
  background-position: 164px 80px;
  max-width: 400px;
  padding: 81px 85px;
  flex-grow: 1;
}

.features-souvenir {
  background-size: 75px 72px;
  background-image: url("../images/main/souvenir.svg");
  background-repeat: no-repeat;
  background-position: 164px 82px;
  max-width: 400px;
  padding: 81px 85px;
  flex-grow: 1;
}

.features-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
  padding-top: 102px;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;
}

.features-text {
  text-align: center;
  margin: 0;
}


/* поиск   */

.search {
  text-align: center;
  margin-bottom: 96px;
  padding-top: 96px;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 54px;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 50px;
  border-radius: 4px;
}

.search-button:hover,
.search-button:focus {
  background: rgba(97, 80, 72, 1);
}

.search-button:active {
  background: rgba(117, 97, 87, 1);
  color: rgba(255, 255, 255, 0.3);
}


/* подписка   */

.subscribe {
  margin: 0;
  padding: 0;
  padding-top: 96px;
  padding-bottom: 86px;
  background-color: #44777d;
  background: url("../images/main/subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
}

.subscribe-catalog {
  background-color: #ffffff;
  text-align: center;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
  min-width: 475px;
  margin: 0;
  margin-bottom: 54px;
  text-align: center;
}

.subscribe-email {
  display: flex;
  padding-left: 258px;
  width: 684px;
  align-items: center;
}

.field {
  font-size: 17px;
  padding: 14px 20px;
  line-height: 23px;
  min-width: 453px;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
}

.email-button {
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
  min-width: 232px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius:0 4px 4px 0;
}

.email-button:hover,
.email-button:focus {
  background: rgba(104, 162, 202, 1);
}

.email-button:active {
  background-color: rgba(130, 179, 211, 1);
  color: rgba(255, 255, 255, 0.3);
}


/* footer  */

.page-footer {
  display: flex;
  padding: 45px 70px 30px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  margin-top: 13px;
  max-width: 180px;
  list-style-type: none;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 48px;
}

.social-button:hover svg,
.social-button:focus svg {
  fill: rgba(104, 162, 202, 1);
}

.social-button:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

.tel-nomber {
  margin-left: auto;
}

.contacts {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}

.contacts:hover,
.contacts:focus {
  color: rgba(117, 97, 87, 1);
}

.contacts:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-developer {
  margin-left: auto;
  margin-top: 4px;
}

.htmlacademy-link:hover svg,
.htmlacademy-link:focus svg {
  fill: rgba(117, 97, 87, 1);
}

.htmlacademy-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}


/* вторая страница*/

/* поиск  */

.select {
  color: #ffffff;
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding: 70px;
  padding-top: 35px;
}

.select h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  text-align: center;
}

.breadcrumbs-list {
  display: flex;
  height: 21px;
  list-style-type: none;
  text-align: center;
}

.breadcrumbs-home {
  height: 12px;
  width: 12px;
  margin-top: 3px;
  margin-right: 10px;
  background-image: url("../images/catalog/home.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-corner {
  height: 12px;
  width: 12px;
  margin-top: 3px;
  margin-right: 10px;
  background-image: url("../images/catalog/corner.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-title {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  text-decoration: none;
}

.filter {
  display: flex;
  flex-wrap: wrap;

}

.filter-group {
  border: none;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  list-style-type: none;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-button {
  display: flex;
  flex-direction: column;
}

.apply {
  background-color: #82b3d3;
}

.reset {
  background-color: transparent;
}


/* результат*/

.search-list {
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
}

.search-result-hotel {
  width: 338px;
}

.search-result-hotel {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  background-color: #ffffff;
  text-transform: uppercase;
}

.view {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.sorting-type {
  font-size: 18px;
  line-height: 21px;

}

/* каталог гостиниц */

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 40px;
  list-style-type: none;
  padding: 0 70px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  width: 340px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  grid-column: 1 / -1;
}

.hotel-card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;
}

.hotel-card-title {
  font-size: 18px;
  line-height: 21px;
}

.hotel-card-price {
  font-size: 18px;
  line-height: 21px;
  text-align: right;
}

.hotel-card-title-detail {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 8px 26px;
  border-radius: 4px;
}

.hotel-card-title-favour {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
}

.hotel-card-rating {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 9px;
  padding-bottom: 8px;
  border-radius: 4px;
}

/* пагинация*/

.pagination {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  padding-top: 40px;
  list-style-type: none;
}

.pagination-link {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  min-width: 60px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-ellipsis {
  color: #000000;
  background-color:#ffffff;
  align-items: end;
}
